.status-bar {
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    position: fixed;
    width: 390px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.4);
}

.status-bar__column {
    align-items: center;
    /* float: right; */
    display: flex;
    justify-content: right;
    width: 125px;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: right;
    width: 127px;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-full {
    margin: 0px 5px;
}